.user-info{
    // box-sizing: content-box;
    position: absolute;
    right: 0;
    width: 192px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.user-name{
    display: inline-block;
    height: auto;
    width: auto;
    padding: 2rem 0;
}

.user-img{
    display: inline-block;
    // background-color: wheat;
    width: auto;
    height: auto;
    border-radius: 50%;
    img{
        position: relative;
        top: calc(50% - 30px);
        vertical-align: middle;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

@media (max-width:1024px) {
    .user-info{
        width: 128px;
        gap:0.5rem;
    }
    .user-name{
        padding: 0.8rem 0;
    }
    .user-img{
        img{
            position: relative;
            top: calc(50% - 15px);
            
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
    }
}